!!!
%head
  -@show = Slideshow.new if @show.nil?
  
  %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}  
  %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
  %script{:src => "/js/showdown.js", :type => "text/javascript"}
  %script{:src => "/js/humanmsg.js", :type => "text/javascript"}
  %script{:src => "/js/farbtastic.js", :type => "text/javascript"}
  %script{:src => "/js/fileuploader.js", :type => "text/javascript"}
  
  %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/css/jqui/jquery-ui-1.8.5.custom.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/templates.css", :rel => "stylesheet", :type => "text/css"}
  
  
  -@show.slides << Slide.new if @show.slides.empty?
  :javascript
    var slideCount = #{@show.slides.count};
    var customUrl = #{@show.new_document? ? "false" : "true"};
    var showTemplate = '#{@show.template || "basic"}';
    var showData = #{@show.custom_json};
  %script{:src => "/js/views/edit.js", :type => "text/javascript"}
  -if @show.new_document?
    %title SlideMirror - New Show
  -else
    %title SlideMirror - Edit #{@show.title}
    
%body{:style => 'background: #222'}
  .menubar{:style => "margin: 35px auto 0 auto; width: 960px; position: relative;"}
    %a.awesome.blue.large.editor-tab.left{:href => "/new"} New Show
    %a.awesome.blue.large.editor-tab.right{:href => "/show/#{@show.url}"} Open Show
    .button-bar
      %a.awesome.large.gray.header.left{:href => "/recordings/"} Recordings
      %a.awesome.large.gray.header.center{:href => "/decks/"} Slide Decks
      %a.awesome.large.gray.header.right{:href => "/settings/"} Account Settings
  %form#basics.no-select{:action => "/edit", :method => "post", :style => 'width: 938px; margin: 0 auto; background: #ddd; padding:  10px; border: 1px solid #aaa; border-radius: 0 5px 0 0; position: relative;'}
    #add-slide.add-object.add-slide.awesome.blue{:title => "Add a Slide to This Show"}
      Add Slide
    .add-object.themes.show-templates.awesome.black{:title => "Change the Show Theme"}
      Themes
    %a#show-link.add-object.play.awesome.green{:href => "http://#{request.env["HTTP_HOST"]}/show/#{@show.url}", :target => "_blank", :title => "Start Slideshow in a New Window", :style => "margin-left: 37px"}
      Present
    .add-object.text.awesome.blue{:title => "Add a Text Box to This Slide", :style => "margin-left: 110px"}
      Text Box
    .add-object.image.awesome.blue{:title => "Add an Image to This Slide"}
      Image
    .add-object.youtube.awesome.blue{:title => "Add a YouTube Video to This Slide"}
      YouTube
    //.add-object.map{:title => "Add a Google Map to This Slide"}
    .add-object.graph.awesome.blue{:title => "Add a Graph to This Slide"}
      Graph
    //.add-object.html{:title => "Add an HTML snippet to This Slide"}
    .add-object.poll.awesome.blue{:title => "Add a Poll to This Slide"}
      Poll
      
    
    %input{:name => "show_id", :value => @show.id, :type => "hidden"}
    //%label{:for => "title", :style => 'margin-right: 3px; margin-left: 50px'} Title
    %input#title.textfield{:name => "title", :type => "hidden", :value => @show.title, :style => "width: 150px"}
    //%label{:for => "url", :style => "margin-left: 25px; margin-right: 3px"} URL
    %input#url.textfield{:name => "url", :type => "hidden", :value => @show.url, :style => "width: 150px"}
    %a#post-save.awesome.green.large{:href => "save", :style => "float: right; width: 80px; height: 35px; padding-top: 25px; -webkit-box-shadow: none; text-align: center; position: relative; top: -4px; font-weight: bold"} Save
    .clear{:style => "clear: both;"}
    
    .template-chooser
      .tiny-slide-demo
        %input{:style => "display: none;",  :type => "radio", :name => "template", :value => "basic", :checked => (@show.template == "basic")}
        %b.demo-style Basic
      .tiny-slide-demo.tmplt-blue
        %input{:style => "display: none;", :type => "radio", :name => "template", :value => "blue", :checked => (@show.template == "blue")}
        %b.demo-style Blue
      .tiny-slide-demo.tmplt-red
        %input{:style => "display: none;", :type => "radio", :name => "template", :value => "red", :checked => (@show.template == "red")}
        %b.demo-style Red
      .tiny-slide-demo.tmplt-orange-gradient
        %input{:style => "display: none;", :type => "radio", :name => "template", :value => "orange-gradient", :checked => (@show.template == "orange-gradient")}
        %b.demo-style{:style => "margin-top: 8%"} Orange Gradient
      .tiny-slide-demo.tmplt-green-stripes
        %input{:style => "display: none;", :type => "radio", :name => "template", :value => "green-stripes", :checked => (@show.template == "green-stripes")}
        %b.demo-style{:style => "margin-top: 8%"} Green Stripes
      .clear{:style => "clear: both"}
  
  .guiedit{:style => "margin: 0 auto; width: 960px; position: relative;"}
    
    .slide-viewer{:style => "float: right; width: 797px; height: 460px; position: relative; padding: 0; background: #999; border: 1px solid #999; border-top: none; border-left: none; border-radius: 0 0 5px 0;"}
      .image-chooser
        %b{:style => "font-size: 2em"} Edit Image Source
        .library
          %h2 Library
          -if @user.image_ids.empty?
            %p{:style => "margin-left: 20px; font-size: 0.8em; font-style: italic;"} You Don't have any images.
          -else
            - @user.image_ids.map{|id| Image.get(id)}.each do |image|
              -next if image.nil?
              .image-frame{:style => "display: inline-block; width: 100px; border: 1px solid #999; text-align: center; padding: 5px;"}
                .image-id{:style => "display: none", :id => image.id}
                %img{:src => image.url, :style => 'width: 80px; max-height: 150px;'}
                %br
                =image.name 
        .upload{:style => "margin-top: 10px;"}
          #upload-image
            %noscript
              .message Please enable JavaScript to use file uploader.
        %em{:style => 'color: red'} Uploads don't show up automatically yet. You have to reload the page to see them. Remember to save first!
        %br
        %br
        .url
          URL
          %input.src-field{:type => "text", :name => "src", :style => 'width: 300px'}
          .awesome.green.medium.change-image-source{:style => 'display: inline-block; text-align: center;margin: auto; width: 25px'} OK
          
          %br
          %br
          %br
        .buttons{:style => "text-align: center"}
          %br
          .awesome.red.medium.cancel-image-change{:style => 'display: inline-block; text-align: center;margin: auto; width: 100px'} Cancel
      .edit-overlay.no-select
      .colorpicker
      #active-slide.slide{:style => "margin: 25px 36px", :class => "tmplt-" + @show.template.to_s}
      
      #jtv-box{:style => "width: 235px; height: 105px; padding-top: 70px; border: 2px solid #AAA; background: #ccc; opacity: 0.75; position: absolute; left: 519px; top: 252px; z-index: 300; text-align: center; color: #555; font-size: 2em;"} Video Feed
      
    
    #slide-up.no-select.awesome.large{:style => "display: none;width: 202px; height: 36px; padding: 0; -webkit-box-shadow: none; font-size: 2em; float: left; border-radius: 0; text-align: center;"} &#9650; 
    #list-container{:style => "overflow: auto; padding: 0; margin: 0; float: left; width: 130px; height: 449px; background: #BBB; padding: 5px 20px 5px 10px;  border: 1px solid #AAA; clear: left;  border-radius: 0 0 0 5px;"}
      %ul#slide-list{:style => "position: relative; margin: 0px; padding: 0px; top: 0;"}
        -@show.slides.each_with_index do |slide, i|
          %li.slide-group{:style => "display: inline-block; position: relative; margin: 0;"}
            .close-box
            .tiny-slide{:id => slide.s_id, :class => "tmplt-" + @show.template.to_s}!= slide.html
            
    #slide-down.no-select.awesome.large{:style => "display: none;width: 202px; height: 36px; padding: 0; -webkit-box-shadow: none; font-size: 2em; float: left; border-radius: 0 0 0 5px ; text-align: center; clear: left;"} &#9660;
    .clear{:style => "clear: both;"}
    .copyright{:style => "text-align: center; color: #000; margin: 20px;"}
      %img{:src => "/images/glider-gray.png", :style => "width: 16px; height: 16px;"}
      2011 Sam Warmuth
      
      