!!!
%head
  -@show = Slideshow.new if @show.nil?
  -@show.slides ||= []
  
  %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}  
  %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
  %script{:src => "/js/showdown.js", :type => "text/javascript"}
  %script{:src => "/js/humanmsg.js", :type => "text/javascript"}
  %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/templates.css", :rel => "stylesheet", :type => "text/css"}
  
  

  -if @show.new_document?
    %title SlideSink - New Show
  -else
    %title SlideSink - Edit #{@show.title}
%body{:style => 'background: #ddd'}
  .menubar{:style => "margin: 0 auto; width: 920px; position: relative; "}
    %a.awesome.blue.large{:href => "/new", :style => "display: inline-block; width: 75px; -webkit-box-shadow: none; border-radius: 5px 0 0 0; text-align: center;"} New Show
    %a.awesome.blue.large{:href => "/show/#{@show.url}", :style => "display: inline-block; width: 75px; margin-left: -3px; -webkit-box-shadow: none; border-radius: 0 5px 0 0; text-align: center;"} Open Show
    
  
  %form#basics{:action => "/edit", :method => "post", :style => 'width: 898px; margin: 0 auto; background: white; padding: 10px; border: 1px solid #fff; border-radius: 0 5px 0 0;'}
    %input{:name => "show_id", :value => @show.id, :type => "hidden"}
    %label{:for => "title", :style => 'margin-right: 3px; margin-left: 10px'} Title
    %input#title.textfield{:name => "title", :type => "text", :value => @show.title, :style => "width: 150px"}
    %label{:for => "url", :style => "margin-left: 25px; margin-right: 3px"} URL
    %input#url.textfield{:name => "url", :type => "text", :value => @show.url, :style => "width: 150px"}
    %a#show-link{:href => "http://www.slidesink.com/show/#{@show.url}"}<
      %em{:style => "font-size: 0.75em"}>www.slidesink.com/
      #url-preview{:style => "display: inline; font-weight: bold; margin: 0; padding: 0; font-size: 0.75em"}= (@show.new_document? ? "your_url" : @show.url)
    %a.awesome.blue.medium{:href => "save", :style => "display: inline-block; width: 120px; margin-left: 10px; -webkit-box-shadow: none; text-align: center;"} Change Template
    %a#post-save.awesome.green.large{:href => "save", :style => "float: right; width: 50px; margin-left: 10px; -webkit-box-shadow: none; text-align: center; position: relative; top: -3px"} Save
  .guiedit{:style => "margin: 0 auto; width: 920px; position: relative; white-space: nowrap;"}
    
    #slide-left.no-select.awesome.large{:style => "width: 25px; height: 86px; padding: 40px 12px 10px 8px; -webkit-box-shadow: none; font-size: 2em; float: left; border-radius: 0"} &#9664; 
    #list-container{:style => "overflow: hidden; padding: 0; margin: 0; float: left; width: 788px; height: 115px; background: #BBB; padding: 10px 20px;  border: 1px solid #BBB;"}
      #slide-list{:style => "white-space: nowrap; position: relative; margin: 0px; left: 0;"}
        -if @show.slides.empty?
          .slide-group{:style => "display: inline-block"}
            .tiny-slide
            .markdown{:style => "display: none", :name => "slide0"}
        -@show.slides.each_with_index do |slide, i|
          .slide-group{:style => "display: inline-block; position: relative;"}
            .close-box{:style => 'position: absolute; width: 24px; height: 24px; top: 5px; left: 5px; display: none; background: url("/images/close.png"); cursor: pointer;'}
            .tiny-slide{:class => "tmplt-" + @show.template.to_s}!= slide.html
            .markdown{:style => "display: none", :name => "slide#{i}"}= slide.markdown.gsub("\n", "LiNeBrEaK")
            
    .right-container{:style => "margin: 0; padding: 0; float: left; width: 45px"}
      #slide-right.no-select.awesome.large{:style => "margin: 0; width: 25px; height: 48px; padding: 31px 10px 10px 10px; -webkit-box-shadow: none; font-size: 2em;  border-radius: 0"} &#9654;
      %br
      %a#add-slide.awesome.green.large{:href => "save", :style => "margin: 0; width: 24px; -webkit-box-shadow: none; border-radius: 0; text-align: center; padding: 7px 12px 7px 9px;"}
        New
        %br
        Slide
    
    %br{:style => "clear: both"}
    
    %textarea#edit-field.tabarea{:style => "outline: none; display: inline-block; font-size: 1em; font-family: monospace; width: 249px; height: 404px; resize: none; padding: 10px; border: 1px solid #CCC; background: #eee; border-radius: 0 0 0 5px; margin-right: 5px; position: relative; top: 2px;"}
    
    .slide-viewer{:style => "display: inline-block; width: 640px; height: 424px; position: relative; padding: 0; margin: 0;white-space: normal;"}
      #active-slide.slide{:style => "margin: 0", :class => "tmplt-" + @show.template.to_s}
      #active-mark{:style => "display: none"} Initial

    
:javascript
  var showdown = new Showdown.converter();
  var slideCount = #{@show.slides.count};
  
  $(document).ready(function(){
    var custom_url = #{@show.new_document? ? "false" : "true"};
    $("#title").focus();
    
    $("#title").keyup(function(){
      if (custom_url == false){
        $("#url").val($(this).val().replace(/ /g,""));
        $("#url-preview").text($('#url').val());
      }
    });
    $("#url").keyup(function(){
      custom_url = true;
      $("#url-preview").text($(this).val());
    });
  });
  
  
  $(document).ready(function(){   
    $(".markdown").each(function(m){$(this).html($(this).html().replace(/LiNeBrEaK/g, "\n"))});
    
    var firstSlide = $(".tiny-slide").first();
    firstSlide.addClass("selected");
    $("#active-slide").html(firstSlide.html());
    $("#active-mark").html($('.tiny-slide.selected').siblings(".markdown").html());
    $("#edit-field").val($("#active-mark").html());      
    
    
    $("#add-slide").click(function(){
      $("#slide-list").append("<div class='slide-group' style='display: inline-block'><div class='tiny-slide tmplt-#{@show.template.to_s}'></div><div class='markdown' name='slide"+$(".markdown").size() +"' style='display: none'></div></div>");
      $(".tiny-slide").last().click();
      $("#edit-field").focus();
      slideCount++;
      
      return false;
    });
    
    $(".tiny-slide").live('click', function(){
      $("#edit-field").focus();
      $(".tiny-slide").removeClass("selected");
      $(this).addClass("selected");
      $("#active-slide").html($(this).html());
      $("#active-mark").html($('.tiny-slide.selected').siblings(".markdown").html());
      $("#edit-field").val($("#active-mark").html());
     });
    
    $("#edit-field").keyup(function(){
      markdown = $(this).val();
      new_html = showdown.makeHtml(markdown)
      $("#active-slide").html(new_html);
      $(".tiny-slide.selected").html(new_html);
      
      $(".tiny-slide.selected").siblings(".markdown").html(markdown);
      $("#active-mark").html(markdown);
    });
    
    $("#save-changes").click(function(){

      output = $.map($(".markdown"), function(m){return ($(m).attr('name')+"="+$(m).html().replace(/=/g,"EqUaLs").replace(/&/g, "aMp").replace(/#/g, "hAsH"))}).join("&").replace(/\n/g,"LiNeBrEaK");
      
      window.location = ("/save?"+ output + "&" + $("#basics").serialize());
      return false;
    });
    
    $("#post-save").click(function(){
      output = $("#basics").serialize() + "&" + $.map($(".markdown"), function(m){return ($(m).attr('name') + "=" + $(m).html())}).join("&");
      
      $.post("/save-show", output, function(data){
        humanMsg.displayMsg('<strong>Show Saved</strong>');
      });
      return false;
    });
    
    $("#slide-left").click(function(){
      var currentPos = parseInt($("#slide-list").css("left"))
      if (currentPos >= 0) return false;
      if (currentPos + 507 >= 0) $('#slide-list').stop().animate({left: "0"}, 300, 'easeInOutQuad');
      else $('#slide-list').stop(false, true).animate({left: "+=507"}, 300, 'easeInOutQuad');
    });
    $("#slide-right").click(function(){
      if (parseInt($('#slide-list').css('left')) <= ((slideCount * -169) + 800)) return false
      $('#slide-list').stop(false, true).animate({left: "-=507"}, 300, 'easeInOutQuad');
    });
    
    $(".tabarea").keydown(function(e){
      if (e.keyCode == 9){
        return false;
      }
    });
  });
  
  $(".slide-group").hover(function(){
    $(this).children(".close-box").fadeIn(100);
  }, function(){
    $(this).children(".close-box").fadeOut(100);
  });
  
  $(".close-box").click(function(){
    $(this).parent().remove();
    
  });
  
  
  $(function(){
    $.extend($.fn.disableTextSelect = function() {
      return this.each(function(){
        if($.browser.mozilla){//Firefox
          $(this).css('MozUserSelect','none');
        }else if($.browser.msie){//IE
          $(this).bind('selectstart',function(){return false;});
        }else{//Opera, etc.
          $(this).mousedown(function(){return false;});
        }
      });
    });
    $('.no-select').disableTextSelect();//No text selection on elements with a class of 'noSelect'
  });