!!!
%head
  %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}  
  %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
  %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/templates.css", :rel => "stylesheet", :type => "text/css"}
  
  
  -if @following
    %script{:src => "http://js.pusherapp.com/1.6/pusher.min.js", :type => "text/javascript"}
  -if @show.nil?
    %title SlideSink. Your Slides, sinked.
  -else
    %title SlideSink - #{@show.title}
%body{:style => "margin: 0; padding: 0; background: #ddd;"}
  = haml :frame
  .page{:style => "width: 880px; white-space: nowrap; overflow: hidden; margin: 5px auto 0 auto;"}
    #slideshow{:style => "position: relative; top: 0; left: 0; width: 5000000px; font-size: 1.25em; white-space: normal; "}
      = haml :show
  
:javascript
  var arrow = {left: 37, up: 38, right: 39, down: 40 };
  var current_slide = 0;
  var presenting = #{@presenting.to_s};
  var following = #{@following.to_s};
  var total_slides = #{@show ? @show.slides.length : 0};
  
  var slide_width = 882;

  $(document).ready(function(){
    resizeSlides();
    total_slides = $("#slideshow").children(".slide").size();
    if (window.location.hash.slice(1).length != 0){
      current_slide = parseInt((window.location.hash).slice(1));
      goToSlide(current_slide);
    }
    if (following == true){
      var server = new Pusher('9f35849b3fdcf6710529', '#{@show.id}');
      server.bind('slideChange', function(data) {
        current_slide = parseInt(data);
        goToSlide(current_slide);
      });
      server.bind('updateSlides', function(data) {
        $("#slideshow").html(data);
        total_slides = $("#slideshow").children(".slide").size();
        if (current_slide >= total_slides){
          current_slide = total_slides - 1;
          goToSlide(current_slide);
        }
        resizeSlides();
      });
    }
    $(".leftarrow").click(function(){
      slideLeft();
    });
    $(".rightarrow").click(function(){
      slideRight();
    });

    $(document).bind('keydown', function(e) {
      if (e.keyCode == arrow.left){
        slideLeft();
        return false;
      }
      if (e.keyCode == arrow.right){
        slideRight();
        return false;
      }
    });
    
    $(window).resize(function(){
      resizeSlides();
    });
  });
  function resizeSlides(){
    var width = $(window).width();
    //$(".window_height").text($(window).width() + " x " +$(window).height());
    //if ($(window).height() < width*0.5625) width = ($(window).height())*1.777;
    $(".page").css("width", (width*0.75+80));
    slide_width = (width*0.75+80)+1.5;
    slide = $(".slide")
    slide.css("font-size", (width/800.0)+"em");
    slide.css("width", (width*0.75)+'px');
    slide.css("height", (width*0.75*0.5625)+'px');

    //update slide location
    position = slide_width * current_slide * -1;
    $('#slideshow').css('left', position+"px");
  }
  function pushCurrentLocation(){
    $.get("/show/#{@show.id}/present/slide-change?slide="+current_slide);
  }
  
  function goToSlide(slideNumber){
    if (slideNumber >= total_slides){
      slideNumber = (total_slides - 1);
      current_slide = slideNumber;
    }
    position = slide_width * slideNumber * -1;
    positionDifference = Math.abs(position - parseInt($('#slideshow').css('left').slice(0,-2)));
    if (positionDifference ==  0) return false;
    time_difference = (positionDifference / ($(window).width())*400);
    $('#slideshow').stop().animate({left: position+"px"}, time_difference+50, 'easeInOutQuad');
    window.location.hash = slideNumber;
    if (presenting == true) pushCurrentLocation();
  }
  
  function slideLeft(){
    if (current_slide <= 0) return false;
    current_slide -= 1;
    goToSlide(current_slide);    
  }
  function slideRight(){
    if (current_slide >= (total_slides-1)) return false;
    current_slide += 1;
    goToSlide(current_slide);
  }

  
  
  
